/* ensure all pages have Bootstrap CSS */
@import 'custom-bootstrap.scss';

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.showcase-img {
  min-height: 30rem;
  background-size: cover;
}
